spring:
  application:
    name: trading-simulator

  datasource:
    url: jdbc:mysql://localhost:3306/trading_simulator
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379
